header{
	background-color: #cc0000;
	width: 100%;
	height: 100px;
}

.row {
	padding-top: 20px;

}

.widget {
	

	margin-bottom: 45px;
	position: relative;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: none;
	display: inline-block;
	max-width: 100%;

}

.menu {
	
	position: relative;
	display: block;
  	color: white;
 	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	color: #00000;
  	table-layout: all;
}

{
	color: black;
	text-align: center;
	
}
.widget_recent_entries{
	display: block;
  	color: white;
  	text-decoration: none;
  	display: inline-block;
  	

}

.widget_recent_entries .widget-title{
	text-align: center;
	color: black;
	padding-right: 50px;
}

.searchbutton{
	padding-top: 20px;
	float:center;


}

.page-wrap{
	padding: 2rem 0;
}

header .top-bar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;

}

header .container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;

}

header .top-bar li a {
	padding: .25rem 1rem;
	color: #fff;
}


header .container ul{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

header .top-bar li {
	position: relative;
}


header .top-bar li a{
	display: block;
  	color: white;
 	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	float: right;


}

header .top-bar li a:hover:not(.active) {
  background-color: #111;
  border-radius: .5rem;
}



.section-inner{
	display: inline-flex;
	text-decoration: none;
}


.footer-group{
	display: flex;
	background-color:#cc0000;
	color:white;
	font-size: 120%;  
}


.footer-group .to-the-top-long{
	color: white;
	float: right;
}

.footer-credits{

}
.topp{
	justify-content: right;
}