header{
	background-color:#9ff578;
	width: 100%;
	height: 100px;
	
}

.row {
	padding-top: 20px;
	
	
	
	


}
.card {
	float: right;
	background-color: white;
	padding: 20px;
	border-radius: 18px;
	margin-right: -30%;
	

}
.cardl {
	float: right;
	background-color: white;
	padding: 20px;
	border-radius: 18px;
	
	

}

.card-bodyl{
	
	background-color: #85ceff;
	border-radius: 18px;

}
.card-body{
	
	background-color: #85ceff;
	border-radius: 18px;

}

.col-lg-3 {
	width: 100%;
	


}
.widget-title{
	color:white;
}

.widget_nav_menu ul {
  list-style-type: none;
  text-align: center;
}

.widget_nav_menu li a {
  display: block;
  color: #000;
  text-decoration: none;
  justify-content: center;
}


.widget_nav_menu li a:hover {
  background-color: #000000;
  color: white;
  border-radius: 18px;
}

.widget {	
	margin-bottom: 20px;
	position: relative;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: none;
	display: inline-block;
	max-width: 100%;

}

.menu {
	
	position: relative;
	display: block;
  	color: white;
 	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}


.widget_recent_entries{
	display: block;
  	color: white;
}

.widget_recent_entries ul {
  list-style-type: none;
 	padding-right: 1px;
}

.widget_recent_entries li a {
  color: #000;
  text-decoration: none;

}

.widget_recent_entries li a:hover {
  background-color:#000000;
  color: white;
  border-radius: 18px;
}


.searchbutton{
	padding-top: 20px;
	float:center;


}

#recentcomments ul{
	list-style-type: none;
	text-decoration: none;
}

#recentcomments li a{
	color: #000;
  	text-decoration: none;
}

#recentcomments li a:hover{
	background-color:#000000;
  color: white;
  border-radius: 18px;
}

.page-wrap{
	padding: 2rem 0;
}

/** comment respond **/
.comment-respond {
	border-style: solid;
	border-color: #85ceff;
}

.comment-reply-title{
	padding-left: 10px;
}

.logged-in-as {
	padding-left: 10px;
}

.comment-form-comment {
	padding-left: 10px;

}

.form-submit {
	padding-left: 10px;
}
/**For Header **/

header .top-bar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;

}

header .container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;

}

header .top-bar li a {
	padding: .25rem 1rem;
	color: #fff;
}


header .container ul{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

header .top-bar li {
	position: relative;
}


header .top-bar li a{
	display: block;
  	color: white;
 	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	float: right;


}

header .top-bar li a:hover:not(.active) {
  background-color: #111;
  border-radius: .5rem;
}

header .top-bar ul a.active  {
	background-color: #000000;
	border-radius: .5rem;
	color: red;
  }

.headercolorchanging {
	color: white;
}



 /** For footer **/
.footer-group .section-inner{
	display: inline-flex;
	text-decoration: none;
	width: 100%;
	
}
 

.footer-group{
	display: flex;
	background-color:#9ff578;
	color:white;
	font-size: 120%;
	clear: both;

}

.footer-group .to-the-top-long{
	color: white;
	float: right;
	
}

.footer-group .footer-credits{
	color: white;
	float: right;
	width:100%;
	


}
.to-the-top-long{
	justify-content: right;
	text-decoration: none;
	color: white;
	float: right;
}

.footer-group .topp {
	float: right;
	text-decoration-style: none;
	color: inherit;
	color: white;
width: 100%;
}
.site-title {
	font-weight: bold;
	color: white;
	justify-content: center;
	padding-left: 5%;
	

} 

.site-tagline {
	font-style: italic;
	padding-left: 60%;
	color: white;
}

.bigbox {
	background-color: white;
	
	border-radius: 18px;
	border-style:solid ;
}

.smallbox {
	background-color: #85ceff;
	border-radius: 18px;
	padding: 5px;
		
}